<script>

    var pie4 = c3.generate({
        bindto: '#pie4',
        data: {
            // iris data from R
            columns: [
                ['Male', 0.7973038288572269],
                ['Female', 0.2017400075652502],
				        ['Others', 0.0009561635775228]
            ],
            colors: {
                'Male': '#a50000',
                'Female': '#7f0000',
				        'Others': '#f16949'
            },
            type : 'pie',
            onclick: function (d, i) { console.log("onclick", d, i); },
            onmouseover: function (d, i) { console.log("onmouseover", d, i); },
            onmouseout: function (d, i) { console.log("onmouseout", d, i); }
        }
    });

</script>
