<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js"></script>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);
    
    function plusDivs(n) {
      showDivs(slideIndex += n);
    }
    
    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";  
      }
      x[slideIndex-1].style.display = "block";  
    }

    function changeContactPeople(people){

      var description1 = "<b>Theresa May</b> : the most frequent speaker.<br><br> - <i>Prime Minister of the United Kingdom from 2016 to 2019.</i> <br> - <i>Leader of the Conservative Party from 2016 to 2019.</i><br><br><i>Being the leader committed to delivering Brexit, Theresa May started her premiership dealing with Brexit and also ended with it. The outcome of Brexit’s referendum was politically binding on Theresa May despite her having campaigned against leaving the EU. Faced with uncertainty and chaos indirectly caused by David Cameron’s miscalculation, Theresa May had been in the whirl of Brexit, grappling with a number of challenges."
      var description2 = "<b>Boris Johnson</b> : the 2nd most frequent speaker.<br><br>   -<i>Prime Minister of the United Kingdom from 2019.</i><br>  -<i>Leader of the Conservative Party from 2019.</i><br>  <br><i>Johnson won in 2019 by uniting almost the whole of the Leave vote behind the Conservatives under the slogan ‘Get Brexit done’. He immediately packed his cabinet with ministers pledging to exit the EU even without a deal in place for an amicable divorce. Although the UK is out of the European Union, the all-encompassing job of adapting to the new reality and building a new relationship with the EU will still need to be settled by Johnson’s government."
      var description3 = "<b>Nigel Frage</b> : the 3rd most frequent speaker.<br><br>   -<i>Member of the European Parliament.</i><br>  -<i>Leader of the UK Independence Party.</i><br>  <br><i>Nigel Farage has actually demonstrated the significant influence that outsider populist Eurosceptic parties can have on shaping politics upon the Brexit event. Nigel Farage’s successive parties acted as some sort of pressure groups on the British political system and on the Conservatives in particular. They contributed to the progressive radicalization of the Conservative party from the outside, with a direct effect on Britain’s relationship with the EU."
      var description4 = "<b>Jeremy Corbyn</b> : the 4th most frequent speaker.<br><br>   -<i>Leader of the UK labour Party.</i><br>  -<i>Member of the Parliament of the United Kingdom.</i><br>  <br><i>Jeremy Corbyn was accused by the press of performing a ‘flip-flop’ over Brexit and a ‘flip-flop’ over the issue of freedom of movement of people after Brexit. For a politician who has built his career on authenticity, Jeremy Corbyn had already taken a risk by tempering his longstanding Euroscepticism in order to campaign, tepidly, for Remain in the referendum."

      if(people=="Huma Abedin"){
        document.getElementById("description").innerHTML = description1;
      }else if(people=="Cheryl Mills"){
        document.getElementById("description").innerHTML = description2;
      }else if(people=="Jacob Jeremiah Sullivan"){
        document.getElementById("description").innerHTML = description3;
      }else {
        document.getElementById("description").innerHTML = description4;
      }
    }

    function changeTableContentQ2(artist_name){

    var tb2 = document.getElementById("tableQ2");   // Get the <ul> element with id="myList"
    tb2.removeChild(tb2.childNodes[0]);      

    if(artist_name=="Ed_Sheeran"){
      img_file = artist_name + ".jpg";
    } else {
      img_file = artist_name + ".png";
    }

    img        = document.createElement("img");
    img.src    = "{{ "/project/web/img/" | relative_url }}"+img_file;
    img.width  = 180;
    img.height = 240;
    img.alt    = artist_name;

    var pictQ2 = document.getElementById("pictQ2");   // Get the <ul> element with id="myList"
    pictQ2.removeChild(pictQ2.childNodes[0]);  
    pictQ2.appendChild(img);

    d3.text("{{ "/project/web/data/" | relative_url }}"+artist_name+".csv", function(data) {
      var parsedCSV = d3.csv.parseRows(data);

        var container = d3.select("#tableQ2")
            .append("table")

            .selectAll("tr")
                .data(parsedCSV).enter()
                .append("tr")

            .selectAll("td")
                .data(function(d) { return d; }).enter()
                .append("td")
                .text(function(d) { return d; });
    });

    }
</script>
